@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #20948B;
  --primary-color-dark: #F7C5CC;
  --secondary-color: #CC313D;
  --text-dark: #371f1f;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f10909;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;

  width: 19ch;
  animation: title 2s steps(19), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;

}

@keyframes title {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(20rem, 90%);
  border-radius: 100%;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}







/* another file CSS*/


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #20948B;
  --primary-color-dark: #6AB187;
  --secondary-color: #6AB187;
  --text-dark: #371f1f;
  --text-light: #806b6b;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

  /*  Simillar  */
  
  section {
    padding: 100px 0;
  }
  
  .max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }
  
  .about,
  .services,
  .skills,
  .projects,
  .contact,
  footer {
    font-family: "Poppins", sans-serif;
  }
  
  .about .about-content,
  .services .serv-content,
  .skills .skills-content,
  .contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
  }
  
  section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    transform: translateX(-50%);
  }
  
  section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #1e3551;
    padding: 0 5px;
    transform: translateX(-50%);
  }
  
  /*  Navbar  */
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
  }
  
  .navbar.sticky {
    padding: 15px 0;
    background: #1e3551;
  }
  
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  
  
  /*  Home  */
  .home {
    display: flex;
    background: url("https://source.unsplash.com/720x600/?dark,laptop") no-repeat
      center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;
  }
  
  .home .max-width {
    width: 100%;
    display: flex;
  }
  
  .home .max-width .row {
    margin-right: 0;
  }
  
  .home .home-content .text-1 {
    font-size: 27px;
  }
  
  .home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
  }
  
  .home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
  }
  
  /* Linear Gradient */
  .home .home-content .text-3 span {
    color: #1e3551;
    background: linear-gradient(135deg, #041d3d, #fff, crimson);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
  
  .home .home-content a {
    display: inline-block;
    background: #1e3551;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #1e3551;
    transition: all 0.3s ease;
  }
  
  .home .home-content a:hover {
    color: #1e3551;
    background: none;
    animation: pulsate 1s ease-in-out;
  }
  
  /*  Menu Btn  */
  .menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
  }
  
  .scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #1e3551;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .scroll-up-btn:hover {
    filter: brightness(90%);
  }
  /*  About  */
  .about {
    background: radial-gradient(white);
  }
  .about .title::after {
    content: "—Who I Am ?—";
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .about .about-content .left {
    width: 45%;
  }
  
  .about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .about .about-content .right {
    width: 55%;
  }
  
  .about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  /* Linear Gradiant */
  .about .about-content .right .text span {
    /* color: #1e3551; */
    background: linear-gradient(135deg, #041d3d, #fff, crimson);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .about .about-content .right p {
    text-align: justify;
  }
  
  .about .about-content .right a {
    display: inline-block;
    background: #1e3551;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #1e3551;
    transition: all 0.3s ease;
  }
  
  .about .about-content .right a:hover {
    color: #1e3551;
    background: none;
    animation: pulsate 1s ease-in-out;
  }
  

  
/*  Education new  */
.services,
.projects {
  color: #fff;
  background: #ffffff;
}

.services .title::before,
.projects .title::before {
  background: #fff;
}

.services .title::after,
.projects .title::after {
  background: #111;
  
}

.services .serv-content .card {
  width: calc(33% - 20px);
  background: #20948B;
  text-align: center;
  border-radius: 10px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.services .serv-content .card:hover {
  background: #6AB187;
}

.services .serv-content .card .box {
  transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
  transform: scale(1.05);
}

.services .serv-content .card i {
  font-size: 50px;
  color: #888e8d;
  background: linear-gradient(135deg, #041d3d, #fff, crimson);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
  color: #fff;
}

.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}  



/* Skills */



.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
.icon-card {
  background-color: #ffffff;
  border-radius: 11px;
  box-shadow: 800px 80px 80px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

  
  /*  Projects  */
  
  
  .project {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
  }
  
  .project-pic {
    width: 65%;
    height: 60%;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }
  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }

  
  /*  Contact  */

  .contact {
    display: flex;
    flex-direction: column; 
    position: relative;
    background:rgb(255, 255, 255);
    background-size: cover;
  }
  
  .contact-header {
    font-family: "Poppins", sans-serif;
    
    text-align: center;
  }
  
  #co-title {
    font-size: 52.5em;
    
    color: black;
    
    
  }
  
  
  .contact-content {
    display: flex;
    justify-content: space-between;
    align-self: center;
    line-height: 2;
    height: auto;
    width: 80%;
    border-radius: 35px;
    background-color: transparent;
    margin-bottom: 10rem;
  }
  
  .contact-form {
    font-family: "Poppins", sans-serif;
    padding: 5rem;
  }
  
  #form-title {
    color: #030303;
    font-size: 1.5em;
    
    letter-spacing: 1.2px;
    line-height: 1px;
    margin-left: 4rem;
    margin-bottom: 3rem;
  }
  
  fieldset {
    border: none;
  }
  
  .form-field {
    outline: none;
    width: 200%;
      border-bottom: 1px solid rgba(236, 14, 14, 0.226);
      margin-bottom: .9rem;
  }
  
  #name, #email, #subject, #message {
    font-family: "Poppins", sans-serif;
    color: black;
    outline: none;
    background: transparent;
    border: none;
    letter-spacing: 2px;
    font-size: 1em;
    line-height: 2rem;
    padding-bottom: 0.7rem;
  }
  
  textarea, #message {
    width: 100%;
    color: black;
    overflow: visible;
  }
  
  #form-btn {
    display: flex;
    border-radius: 32px;
    justify-content: center;
    margin-top: 3rem;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    letter-spacing: 2.5px;
    font-weight: 700;
    
    width: 200%;
    height: 60px;
    background-color: #20948B;
    cursor: pointer;
    transition: all .3s ease;
  }
  
  #form-btn:hover {
    opacity: 0.9;
    transform: translateY(-2.5%);
    box-shadow: 0 0 15px 0 #6AB187;
  }
  
  .contact-info {
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 5rem;
    background-color: transparent;
  }
  
  .contact-info h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: black;
  }
  
  .contact-info a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #666;
    font-size: 0.8rem;
    letter-spacing: 2px;
    line-height: 3rem;
    margin-bottom: 5rem;
    transition: all .3s ease;
  }
  
  .contact-info a:hover {
    transform: translateY(-2.5%);
    color: #999;
  }
  
  .contact-info .fab {
    font-size: 1.5rem;
    line-height: 3rem;
    padding-left: 2rem;
    color: #666;
    cursor: pointer;
    transition: all .3s ease;
  }
  
  .fab:hover{
    transform: scale(1.2);
    color: #999;
  }
  
  
  @media screen and (max-width: 960px) {
    .contact-content {
      display: flex;
      flex-direction: column;
    }
    
    .form-field {
      width: 100%;
    }
    
    #form-btn {
      width: 100%;
    }
    
    #form-title {
      margin: 3rem auto;
    }
    
    .contact-header{
      margin: 5rem 5rem 3rem 5rem;
    }
    
    #co-title {
      font-size: 1rem;
    }
    
    #co-text {
      font-size: 2.5rem;
    }
    
    .contact-form {
      padding: 2.5rem;
    }
  }
  
  @media screen and (min-width: 960px) {
    .form-field {
      width: 125%;
    }
    
    #form-title {
      margin: 3rem auto;
    }
    
    #form-btn {
      width: 125%;
    }
    
    .contact-header{
      margin: 7rem 7rem 3rem 7rem;
    }
    
    .contact-info {
      padding: 5rem;
    }
    
    #co-title {
      font-size: 1rem;
    }
    
    #co-text {
      font-size: 2.5rem;
    }
    
    .contact-form {
      padding: 2.5rem;
    }
  }
  
  /*  Footer  */
  footer {
    border-radius: 10px;
    background: #20948B;
    padding: 6px 16px;
    color: white;
    text-align: center;
  }
  
  footer span a {
    color: #1e3551;
    text-decoration: none;
  }
  
  footer span a:hover {
    text-decoration: underline;
  }
  /* social media */


  
  
  /*  Media Query  */
  @keyframes pulsate {
    0% {
      box-shadow: 0 0 25px #888e8d, 0 0 50px #1e3551;
    }
  }
  
  @media (max-width: 1104px) {
    .about .about-content .left img {
      height: 350px;
      width: 350px;
    }
    section .title::after {
      bottom: -8px;
      font-size: 16px;
    }
  }
  
  @media (max-width: 991px) {
    .social-menu ul li a {
      left: 114px;
    }
  }
  
  @media (max-width: 947px) {
    .menu-btn {
      display: block;
      z-index: 999;
    }
    .menu-btn i.active:before {
      content: "\f00d";
    }
    .navbar .menu {
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: #111;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
    }
    .navbar .menu.active {
      left: 0;
    }
    .navbar .menu li {
      display: block;
    }
    .navbar .menu li a {
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
    }
    .home .home-content .text-2 {
      font-size: 70px;
    }
    .home .home-content .text-3 {
      font-size: 35px;
    }
    .home .home-content a {
      font-size: 23px;
      padding: 10px 30px;
    }
    .max-width {
      max-width: 930px;
    }
    .about .about-content .column {
      width: 100%;
    }
    .about .about-content .left {
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
    }
    .about .about-content .right {
      flex: 100%;
    }
    .services .serv-content .card {
      width: calc(50% - 10px);
      margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  
  @media (max-width: 690px) {
    .max-width {
      padding: 0 23px;
    }
    .home .home-content .text-2 {
      font-size: 60px;
    }
    .home .home-content .text-3 {
      font-size: 32px;
    }
    .home .home-content a {
      font-size: 20px;
    }
    .services .serv-content .card {
      width: 100%;
    }
  }
  
  @media (max-width: 500px) {
    .home .home-content .text-2 {
      font-size: 50px;
    }
    .home .home-content .text-3 {
      font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text {
      font-size: 19px;
    }
    .contact .right form .fields {
      flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
      margin: 0;
    }
    .right form .error-box {
      width: 150px;
    }
    .scroll-up-btn {
      right: 15px;
      bottom: 15px;
      height: 38px;
      width: 35px;
      font-size: 23px;
      line-height: 38px;
    }
  }

  /*social media */
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  